if ARCH_SIMA

choice
	prompt "Davici / Modalix board select"

config TARGET_DAVINCI
	bool "ARMv8, 64bit"
	select ARM64
	select BOARD_LATE_INIT
	select GICV3
	select GICV3_SUPPORT_GIC600
	imply MULTI_DTB_FIT

config TARGET_MODALIX
	bool "ARMv8, 64bit"
	select ARM64
	select BOARD_LATE_INIT
	select GICV3
	select GICV3_SUPPORT_GIC600
	imply MULTI_DTB_FIT

endchoice

config SYS_SOC
	default "sima"

endif
